
<h1 class="banner">One account. All of Ishmael.</h1>
<h2>Sign in to continue to Ishmael.</h2>


<form class="sign-in" action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="username" value="">
  <p>
  <input type="password" name="password" value="">
  <p>
  <button >Sign In</button>

</form>

<form class="demo-sign-in" action="<%= session_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="username" value="guest">
  <input type="hidden" name="password" value="guestsignin123">
  <button>Demo</button>
</form>
