/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, h1, h2, h3, h4, h5, h6, ul {
   border: 0;
   padding: 0;
   margin: 0;
   list-style: none;
   background: transparent;
   display: inherit;
   font-family: inherit;
   text-align: inherit;
   vertical-align: inherit;
 }



 html {
   color: #333;
   line-height: 1;
   direction: ltr;
 }

 h1, h2, h3, h4, h5, h6 {
   line-height: 25px;
   margin: 0 0 .46em;
   color: #222;
   font-size: 1.54em;
   font-weight: normal;
 }

 h1.banner {
   margin: 0 0 .92em;
   text-align: center;
   color: #555;
   font-family: 'Open Sans', sans-serif;
   font-size: 38px;
   margin-top: 27px;
   margin-bottom: 50px;
 }

 .input {
   display: inline-block;
   height: 29px;
   margin: 0;
   padding: 0 8px;
   background: #fff;
 }

 button.sign-in {
   border-radius: 5px;
   margin: 20px 50px;
   background: #15c;
   opacity: 0.75;
   display: block;
   padding: 5px 10px;
   font-size: 13px;
   color: #fff;
   border: 1px solid #3079ed;
   float: right;
 }

 h2 {
   text-align: center;
   color: #737373;
   font-size: 20px;
   margin-bottom: 15px;
 }

 body {
   font-family: 'Open-Sans';
   display: block;
 }

 .sign-up-navbar {
   height: 70px;
   background: #f7f7f7;
   border-bottom: 1px solid #e5e5e5;
   overflow: hidden;
 }

 .wrapper {
   margin: 0 auto;
   width: 800px;
 }

 .group:after {
   display: block;
   clear: both;
   content: "";
 }

 .side-content {
   padding-top: 18px;
   display: block;
   float: left;
 }

form.sign-in {
  background: #f1f1f1;
  padding: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  height: 274px;
  width: 274px;
  margin: 0 auto;
}

form.sign-in input {
  width: 100%;
  height: 25px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #b9b9b9;
  padding: 5px 10px;
}

header {
  width: 100%;
}

.header {
  position: relative;
}

.top-left {
    background: #f7f7f7;
    border-bottom: 1px solid #e5e5e5;
  width: 200px;
  height: 60px;
  float: left;

}

header h1 {
  padding: 20px 30px;
  color: #777;

  text-transform: uppercase;
  letter-spacing: 5px;
}

.top-right {
  float: right;
  background: #f7f7f7;
  left: 200px;
  width: calc(100% - 200px);
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

header button {
  background: #3079ed;
  font-size: 16px;
  border: 1px solid #e5e5e5;
  color: #FFF;
  border: 0px;
  padding: 5px 20px 7px 20px;

  margin-left: -14px;
}

header input {
  border: 1px solid #e5e5e5;
  padding: 8px;
  margin: 15px;
  width: 50%;
}

.content-container {
  font-family: arial;
  font-size: 14px;
  font-weight:
  font-weight: none;
  margin: 0 auto;
  width: 100%;
  height: auto;
}


.sidebar {
  margin-top: 20px;
  width: 200px;
  height: 100%;
  float: left;
}


.sidebar button {
  margin-left: 30px;
  background: #dd4b39;
  padding: 5px 30px;
  font-size: 12px;
  border: 0px;
  text-transform: uppercase;
  color: #FFF;
}

.sidebar a {
  font-family: arial;
  display: block;
  color: #222;
  text-decoration: none;
  padding: 2px;
}


.sidebar ul {
  padding-top: 10px;
  list-style: none;
  display: block;
}

.sidebar li {
  padding-left: 30px;
  padding-right: 10px;
  width: 100px;
}

.sidebar li:hover {
  padding-left: 30px;
  background: #eee;
  width: 100px;
}


.main {
  padding-left: 20px;
  padding-top: 20px;
  width: 1400px;
  float: left;
  text-align: left;
}

.email-index-item {
  border-top: 1px solid #e5e5e5;
  background: #fff;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}


.email-index-item li {
  display: inline;
  padding-left: 20px;
}



.important {

}

.checkbox {
  color: #ddd;
}

.fa-check-square-o {
  color: #ddd;
}

i {
  cursor: pointer;
}

.star{
  color: #eee;

}

.importance {
  color: #eee;
  /*margin-right: 1px;*/
}

.date {
  float: right;
}

.important .importance {
  color: gold;

}

i.fa-square-o {
  font-size: 18px;
}

.starred .star {
  color: gold;
}

.fa-ellipsis-v {
  color: transparent;

}

.email-index-item:hover i.fa-ellipsis-v {
  color: #ddd;
}

.ellipse {
  margin-right: -10px;
  padding-left: -10px;
}

.email-index-item:hover {
  cursor: pointer;
}

.read {
  background: #f7f7f7;
  font-weight: normal;
}

.checked {
  background: #ffc;
}

.first-line {
  margin-left: -10px;
  font-weight: normal;
  color: #777777;
}


.bottom-left {
  width: 200px;
  height: 55px;
  background: #FFF;
  border-bottom: 1px solid #e5e5e5;
  float: left;
}

.bottom-right {
  float: right;
  height: 55px;
  background: #fff;
  width: calc(100% - 200px);
  border-bottom: 1px solid #e5e5e5;
}

form a {
  color: #4c86ee;
  text-decoration: none;
  text-align: center;
  text-align: center;
}



form.sign-in button, form.demo-sign-in button {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  background: #4b8efa;
}

 .sign-up {
   background: #f7f7f7;
   padding: 25px;
   float: right;
   width: 362px;
 }

.form-holder {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  right: 30px;
}

.email-form {
  float: right;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
  background: #fff;
  /*right: 30px;
  bottom: 0;*/
  width: 600px;
  /*width: 40%;
  height: 65%;*/
  box-shadow: 0px 0 2px 2px #f7f7f7;
}

.email-form input, textarea {
  padding: 2px;
  outline-width: 0;
  border: 0;
  font-size: 14px;
  font-family: arial;
  width: 100%;
  height:100%;

  /*border-bottom: 1px solid #e5e5e5;*/

}

.email-form .title {
  background: #404040;
  cursor: pointer;
  height: 40px;
  overflow:hidden;
  /*height: 5%;
  min-height: 20px;*/
  padding: 0;
  color: #fff;

  border-bottom: 1px solid #e5e5e5;
}


.email-form .recipients {
  width: 100%;
  width: 600px;
  /*padding: 0 10px;*/
  height: 40px;
  overflow: hidden;
  /*height: 10%;
  min-height: 20px;*/
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}



.email-form .subject {
  padding: 0 10px;
  height: 40px;
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

.email-form .body {
  padding: 10px;
  height: 325px;
  border-bottom: 1px solid #e5e5e5;
}

.email-form .footer {
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  background: #f5f5f5;
}

.title i {
  background: pink;
  color: #000;
  text-align: right;
}

.minimize {
  cursor: pointer;
  box-sizing: padding-box;
  float: right;
  height: 33px;
  width: 300px;
  background: #404040;
  color: #fff;
}

.minimize i {
  float: right;
  padding: 5px;
  font-size: 20px;
  color: #e5e5e5;
}

.footer button {
  background: #4a8bf7;
  border: 0;
  font-weight: bold;
  font-size: 10px;
  display: block;
  /*border-radius: 5px;*/
  width: 75px;
  height: 35px;
  color: #fff;
}

.email-form span {
  display: block;
  padding: 10px;
}


.selected a {
  color: #dd4b39;
}

.selected {
  /*background: #dd4b39;*/
  color: #dd4b39;
  font-weight: bold;
}

.index-header {
  list-style: none;
  width: 100%;
  height: 30px;
  padding: 10px 0px;
  font-size: 13px;
}

.index-header li {
  cursor: pointer;
  display: inline;
  background: #f7f7f7;
  width: calc(100% / 5);
  padding: 10px 100px;
  border: 1px solid #ddd;
}

.index-header li:hover {
  border-top: 1px solid #000;
}

.index-header i {
  font-size: 16px;
  color: #6e6e6e;
  margin-left: -75px;
  padding-right: 10px;
}

.header-nav {
  display: block;
  width: 100%;
  display: none;
  padding: 10px;
}

.header-nav li {
  float: left;
  background: #f7f7f7;
  margin-right: 50px;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  width: 33px;
  height: 33px;

}
